/* You.css */

.you-container {
  width: 100%;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  min-height: 160vh;
  font-size: 15px;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.features-section,
.instructions-section,
.about-me-section,
.libraries-section,
.navigation-links {
  margin-bottom: 20px;
  color: #dfe0e9;
}

.features-section h2,
.instructions-section h2,
.libraries-section h2,
.about-me-section h2,
.navigation-links h2 {
  color: #dfe0e9;
  border-bottom: 2px solid #cacaca;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.features-section ul,
.instructions-section p,
.about-me-section p,
.navigation-links ul {
  color: #dce2f2;
}

.features-section li,
.instructions-section li,
.about-me-section li,
.navigation-links li {
  list-style-type: disc;
  margin-left: 20px;
}

.navigation-links ul {
  list-style-type: none;
  padding: 0;
}

.navigation-links li {
  margin-bottom: 10px;
}

.navigation-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.navigation-links a:hover {
  text-decoration: underline;
}