/* global.css */

#root {
  background-color: 'red';
}

.custom-card {
  border-radius: 8px;
  width: 210px;
  color: white;
  margin: 10px;
  box-shadow: none;
  background-color: green;
}

.unarchive-icon {
  /* Add your specific styles for the Unarchive icon */
  margin-left: auto;
  /* Adjust the margin as needed */
}

.archive-container {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
}

.archive-grid {
  margin: 10px auto;
}

.empty-notes-light {
  font-size: 220px; /* Adjusted size */
  color: #80868b;
}

.empty-notes-text {
  color: #80868b;
  font-size: 22px;
}

.delete-note-card {
  border-radius: 8px;
  width: 210px;
  background-color: #990000;
  color: white;
  margin: 5px;
  box-shadow: none;
}

.delete-notes-container {
  display: flex;
  margin: auto;
  height: 120vh;
}

.delete-notes-grid {
  margin: 10px auto;
}

.empty-notes-container {
  display: flex !important;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.trash-info {
  text-align: center;
  font-style: italic;
}


.function-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* background-color: rgba(44, 44, 221, 0.971); */
  border-radius: 30px;
}


.function-buttons Button{
  color: white;
  border-radius: 50px;
  margin: 2px;
}

